files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      certificate file contents
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
    ----BEGIN RSA PRIVATE KEY-----
      MIII+wIBAAKCAfgO4oq0sem5dRMFt8yBzlGVYMlqgNWSrkhqx2dOxC0nGBF8upJy
      BRIDz5gQ9gpsyUr4idgpw89nUIGDETfRqaxzGOGXj3fm7k/jlTOpeJ+bNbwX2CKD
      Qp5uoReUADEUmnrXthhybeSZjij1+Nq69xWzuWFS8OuoJpy1UWVbThmyQuy73i4Q
      DFwDORbtklbK2HPBjjHBhYpAgwKYMVbFdfP4ILe3HiVQWgjqCiudn+BDgKLhrX+k
      VHOKvMNlg72eD0ccxPdSzT5tVQPOalegFBvxSfMHzJOx1QmrNRproVuev8n45KXp
      yVQglMjkBF3lgJzC2tr/dP2P8MYe6jOPTW1NYfO2wbSJeGvFPalEoDgHL5kkCemC
      rxRs4YeoC9Kvvb/LOzIvt2H38W5OjualVuZJvHLGjp6tBx4xYsi4lePDukvDqjNU
      Qe7D7v38nofvNtsg8ep1dyjhf/vlMrg1lpqqVI8IJ0Ey6mhX7ZBIeVeH3Bi+/cJn
      RDRNgbFlyveNnD0riVykzx/kvHGtOpxbzWVHY+EM3NsRYeY2KYwW9RBRpIz4Qui/
      9cosurElJS5JXo1LH2hH6MKbQWmHvDYB0qfhx0xWlPdRiKQRbMP/bv+jQVzG8OAg
      O0p8ACqHlMuJVvaXQFDb1TURng57cEsuNFf6aS32qh39wt8CAwEAAQKCAfgGx3aU
      xVLFfGSlfghONkFB30rcjsC2hVnGB/stDHvkCjosrGx2MYj641lGoEgvM55Jg75H
      hz62txvFLdpWSwiXgwV7mYPqUS9hX1qgHKfUcKyxz2YokfbGO+gZJ90ynQjFpdGM
      jDBJH03YePZloJLpv8xrkf5CHxPQILog03kwjvpytcYU2QwvC5k9qiCNUfemd7SB
      huhoaUKNPite01HB+GSzqa8k4Vyd+vPSXjYtiDCmx/YSScQ1s7LqUQ3TJvIkUDC0
      LXX5JXcOU7CE36O6SQu+yZWasIQuzYiy7FJmAsNh8AEAcQk3rYuxDawWEnVS6YpE
      PmwdWnNhMRkCNkuIwal0dWM7GZ9Dm4viUb8h2cWzRl4HIHy24uF1aIPV4JyKhCVL
      +xjwj5KbrhKJZFdNXNviNiAa8aDU6CGtV5Epzi+iTvdFL+gtxmXk0l87WjzxyrP7
      Gh+Z44BZoDrPxgk3k2NbdpG2u1uPeSQ1bvEaS5K3GARAp/nMTQvVsGbzWsc5wD67
      ndgg2wDa1ZSu+we/LOBo8gdV3Gf6gGBftTyWLHRMTAVJnA0eyqZ3mDFx7Kywn4Qj
      zlLflBENKBn2QhQoHgc8764pnK4AyQWS2pmLdDmmCMkxhEbuaIkOK0HAKLPeCEAT
      RkG6NHc4LqdcxMLmBySHmtW3UEECgfw+17PKIF/Hb1rrHMqhAPgfoyaGvxUBOEiD
      xQhHsmBJxiZC9cVswFaEUtTadVCNp+xEEiwPco3KLqigCVgcMsacsnKOqJ29ta0v
      PNqBSesDJUepAi/1zq4oLY7mVxrWuINPBYeTri4XIuBYIGNZZZCO8vkx2SAK8hun
      Nzo5iwMDOmGx6g7wmkeAG1DPaoF9BkPN6LRDVu2Zruw6Y3nDUHjNHaVyreBknm7y
      CI9xmPIlbCLUlgVbj5Otg4lJMX9tQzgCGxD+xVnrYFUatso96yNC/0wjD8hytbOB
      GPBve2l/rquT+A9OPYfQ5OARsJ7v1eVlp2gOAY2fqhCI3n0Cgfw8ouRnoO7L26Zk
      0Uhg3jbkX8q6wQEtNp40PYSjKd4V741Jrl03KHQysmLi0LDEHw0dwvjKEY0q4MyH
      qKjdmgeNF2Vk1Ig2aKyrlF5Qp4NEvcMSmFzYUrxa46+g+U9purwSISf3u+X+lhIb
      ysEt1bUVpZm+0G2q9wnS0JNBztCrMOWxai6aYYbw/x2FRZKvf1hyUBVywSK+baxa
      ftHNJC7wdR/7xcyuiVwLzih0h5fel/a3bIf1fsX1sy5cOeaphglVlm2P5Z1hVZxN
      XpUHHNj3cXKKKXBsoxAgfm2mSa6EH1mQsUZTrez3ZeThRbrpn3qc4GAD7AevCa55
      2YsCgfwJgiGV56gWSOb8w/J0wezI/KqLoMXQ1W9DYMCL+JVRFEYdw4oHlmKAyveh
      xjZV+J5q/kTkYXTKrpyc+kz2l0gt1WI365NSbPazOwXkogaJB078Z3RSQN9g/OOu
      Pme1LV3QywlkcupOXdyL+PqPQCrLNkA2JqAOh+tfNZ/9rObbyi2V+dAg33cKDxf/
      CiJlhFkmApujxLdWlXzwqLR3tOlSP7YUz/IvxzkKLflmOroIp3/tonVVEThK/Kf9
      Bxw8r/r9dpLvuXSNhJnb3ORk0fsX3ADtHSo7EPsEAX3/oDCqPQeA7/uA3xZ5qOeu
      RYcGytpWsymvVNTU36p4yxECgfw8Pf28cygsQwp6iW5mRv+0PvN0PYKEwAnHjwLy
      9AqgMoJlnKUhwsBHCfGytHGaN9tZITb50xw0aGjrsoYqu/galg73cSvvGmnKgbp+
      WR7SsdFX7SX5CaH2jtUTkf3y5kIppOVHfFeRatmM4RCyD+s8GW25JOx/+bW5y90x
      eV7ZZdgePocUfCaL0noqySdl0pg14hidDQMOvHmK4wpfzD4SSds/0ZF8Kh3X4LdS
      ptAcp0/Hhj1BivT0GVPK7v+alv85GB274/1LEbobKAfZrDBnDkAkwezfEdZY4iLg
      Hb4Tp+3dEjLzug1+8a3GnfeIWhiAOW9LFjnADldY2ecCgfwcSBRz2r9HGjr8WmVk
      ltnuSHTPIK685bS10l7F7PghCHwjtR53AeNr7IhX5TJM28x3c+XJcsmhmZlCnuDU
      6qeP3tEEu8mkqgGs1HZVVpa1Sf3xoiZJrOvkBgUmVpHisRwproJHwbjdCVtgq+Lf
      OQB8eWptHKcN+thrzUuU2tvDymmmn8x1llnyglrIsGWqncUSYJ/zM6MryMx+gWuP
      TNopI+JuMne8PpP9h633+VUhMXmtrwY3QkDCIyQOqDy2aMFhy2iSAWAOAiMR5BDL
      /npjkXUAw6DhxlnqvFYvF0htAXn2FdOvAWbiA5IODNhuyVnVjS7M2cIeoKt+QM8=
     -----END RSA PRIVATE KEY-----

  /opt/elasticbeanstalk/hooks/appdeploy/post/99_start_httpd.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo service httpd restart