files:
 /etc/pki/tls/certs/server.crt:
     mode: "000400"
     owner: root
     group: root
     content: |
      -----BEGIN CERTIFICATE-----
       MIIDETCCAfkCFBXLzuIhigtGWSAumlaZG9ynO9r9MA0GCSqGSIb3DQEBCwUAMEUx
       CzAJBgNVBAYTAkFVMRMwEQYDVQQIDApTb21lLVN0YXRlMSEwHwYDVQQKDBhJbnRl
       cm5ldCBXaWRnaXRzIFB0eSBMdGQwHhcNMjIwNTExMjM1NzI2WhcNMjMwNTExMjM1
       NzI2WjBFMQswCQYDVQQGEwJBVTETMBEGA1UECAwKU29tZS1TdGF0ZTEhMB8GA1UE
       CgwYSW50ZXJuZXQgV2lkZ2l0cyBQdHkgTHRkMIIBIjANBgkqhkiG9w0BAQEFAAOC
       AQ8AMIIBCgKCAQEA3dvG6ikkAIsMo8Z+1TMP9v+MjaT7G0Q9xwsfYpxbx4qk4imU
       +DFq0XlTUO9+0fJpGi5FRubSwDKbmvLJq9gKZFtlrihywuCJrnQd6Ql4hoKeugOP
       n70EH1dtN9jlEQozGmEsSo+H28CcnHtm8jUsOAZbCfCtd3tbZ65iaptlNRAXQfv9
       306aprdCdazOuRLPcIshb9GlPHO2PVeSFYZRarkNj4WJQM8HJO9U2P53iZtGXPBW
       yz2VS+M4pTjgfbCnZSVuDkdaE97hAXfPPvpkwIcNKZRPu94818dEbb/VMwBL3jLG
       veprtvIu+wrgKKJfLOuwGkdTlwXIWNGZQ7qkTwIDAQABMA0GCSqGSIb3DQEBCwUA
       A4IBAQArgSTvq/E+AXbCRbto53omD9F/Iz5sh1y6E/0eHhT5GbJt3j3R2e2VTupg
       b/2PDjzxlIuVmwv23ObSesgIQCUo3RGvHUEaX54pSFDzYZu612FA8ub88CPW0RRo
       DSap+6rF3qUJSa3dJ0sS72zDIuDZyE6H45/aOqt8jnrQdOae51n1pp+83oVhqzkg
       oXHg5tvkmnLnvmLjQPlBzqQe1n4ynejyIAGncL15GPXgHSzi19mqUARDeg4a5OIy
       qldJvm7Oi9oEl4sGU1wOgloPh9YelAoubNuCc/pHyqV3xZROlZf7HEcnxZ9M+Tyy
       QEDLP9oyh+RLhbd5T8UBuyRKPksC
      -----END CERTIFICATE-----

   /etc/pki/tls/certs/server.key:
     mode: "000400"
     owner: root
     group: root
     content: |
      -----BEGIN RSA PRIVATE KEY-----
       MIIEowIBAAKCAQEA3dvG6ikkAIsMo8Z+1TMP9v+MjaT7G0Q9xwsfYpxbx4qk4imU
       +DFq0XlTUO9+0fJpGi5FRubSwDKbmvLJq9gKZFtlrihywuCJrnQd6Ql4hoKeugOP
       n70EH1dtN9jlEQozGmEsSo+H28CcnHtm8jUsOAZbCfCtd3tbZ65iaptlNRAXQfv9
       306aprdCdazOuRLPcIshb9GlPHO2PVeSFYZRarkNj4WJQM8HJO9U2P53iZtGXPBW
       yz2VS+M4pTjgfbCnZSVuDkdaE97hAXfPPvpkwIcNKZRPu94818dEbb/VMwBL3jLG
       veprtvIu+wrgKKJfLOuwGkdTlwXIWNGZQ7qkTwIDAQABAoIBAQDacxbPZibu6ftO
       H5qvLpIfsMyig7pExNLXdBo5LKAqQFfN4QevwmjdTUs+PDNxYfEfOEQ6ZflKCgqx
       bTIqJJVG77+U1nr5a8Hlpqv008B7IY5MtkjrDmBKw/jkrooOVy6uYNQNrnolZOhQ
       JCnff3/Ewm1Nwk/rf+kmk8yQD+Z9cT81SFi36d0MXdLzKGhdQjRxUah0pfNtQqTA
       iFnVC1dg8/3asJl6lN7VQXy2aAnYJGJ9wzCRGqh65yxUELIDhLJITahXDyF20qbm
       qCUtaTSSbLWSrhDTKq1ngh2rvImiARJUFamwTknGI8Vn/TAgd4e2tGdAc2rd7EmB
       W1wRUVERAoGBAPH6UnRLXwgR52lJp9juCktfo0ewEHuwAm923RvfHzv5E4WY8DyT
       izlxyHnDnnng4nzHipumUP8gaZIDSX4qmNcYJHqzcva/2xvff19pd56tGikxZ6ui
       upJORNVamkcvck1Vx/++QcFKH8kTISJSc2EDAwRKEfRA7Du+w5D1rCcjAoGBAOq2
       /XdkNXArWo7xVwK0GdRnFGL8wHSyiu2QvCoJqhpixbWbQ/8C4eeSswHd4zD8PL+D
       rm6BdwSTx+LXTA5rJ6jEpzIASyN1EYuKV4m3qx6j0w1vvNlI6eb40E3m75yql7JT
       zAFMy9B35FrtASe6pyYo2F/QtKg1HsvKunBiYPblAoGAfa7/VNgxLAfgopdXTx2U
       y0GJlZqldRkeqraacfeaSZQ9x46AeXZJQjUPY+9vSO69tQIPxHjGaT10mBqM+bM2
       X8JycCj09aUBMaEMj4pAT3Kpu+ulZUjIj2WH6yl8KK1EOVbs4rD3hmXxzIbbFvCs
       bR8bWgb+/FccXIvhGFICcPECgYBVkD3YT0SXzoYlw98XUjZ0UtuAtmkmYYv5zKB7
       pqhHFCjE6oQgK5nUxIrTLGNNETbIDiYBjNqpZYIhtKC6RN/hS0c0GB1MILozp0wA
       HV+ZPNmMdWZfw4/ZLm0paP2CnEHOtXOSKb/HEF3Ds9CO/iE+7Pbr/vZMt4ixfAb5
       PzPf7QKBgGz+qF+HTCSIRp7VBpu1YaQGMrN69ZxJVo2NgUF8vVFBb4bP4GLr2ows
       aJRuokRKjtNy2hrV5bBj8IH4qEHEmM8QjWVxxSgOMQP73/NPlOdXV8Gak8Sp3m9r
       Pn7b0eEZhxJYT36wrkMCC8FYAJBRl4LvTaMxE6R66gdMa7iPau71
       -----END RSA PRIVATE KEY-----

   /opt/elasticbeanstalk/hooks/appdeploy/post/99_start_httpd.sh:
     mode: "000755"
     owner: root
     group: root
     content: |
       #!/usr/bin/env bash
     sudo service httpd restart